<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microservices Lab</title>
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>
            Web Calculator
        </h1>
        
    </div>
    <div>
        <table>
            <tr>
                <form method="post" action="http://localhost:3004/add">
                <td>
                    <input type="text" name="num1">
                </td>
                <td>
                    <input type="text" name="num2">
                </td>
                <td>
                    <input type="submit" value="Add">
                </td>
            </form>
            </tr>
            <tr>
                <form method="post" action="http://localhost:3001/subtract">
                <td>
                    <input type="text" name="num1">
                </td>
                <td>
                    <input type="text" name="num2">
                </td>
                <td>
                    <input type="submit" value="Subtract">
                </td>
            </form>
            </tr>
            <tr>
                <form method="post" action="http://localhost:3003/divide">
                <td>
                    <input type="text" name="num1">
                </td>
                <td>
                    <input type="text" name="num2">
                </td>
                <td>
                    <input type="submit" value="Divide">
                </td>
            </form>
            </tr>
                <tr>
                <form method="post" action="http://localhost:3002/multiply">
                <td>
                    <input type="text" name="num1">
                </td>
                <td>
                    <input type="text" name="num2">
                </td>
                <td>
                    <input type="submit" value="Multiply">
                </td>
            </form>
            </tr>
        </table>
    </div>
</body>
</html>